/* CSS declarations go here */
body {
    background-image:url('/img/bg_rep.jpg');
}

/*TODO: make this images static */
.whole-container{
  background-image: url('http://www.clker.com/cliparts/1/b/f/b/1219803093415865566flying%20bird.svg.hi.png'), url('http://fc04.deviantart.net/fs71/f/2012/232/0/3/black_flying_birds_by_jassy2012-d5bs80m.png'), url('http://www.freestockphotos.biz/pictures/16/16846/Illustration+of+a+silhouette+of+a+tree.png'),url('/img/bg_grass.png');
  background-repeat:no-repeat, no-repeat, no-repeat,repeat-x;
  background-position: left top, right center,  right bottom, center bottom;

}


#left_pane
{
    width :100px;
    height:200px;
    position: relative;
    border: 3px coral solid;
}

#bottom_pic_wrapper
{
    width:20px;
    height:30px;
    position: absolute;
    bottom: 0;
    border: 2px coral solid;
}

.thumbnail{
    background-color: rgba(255, 255, 255, 0.1);
    border:3px solid rgb(99, 95, 95);
    text-align: center;
}

.thumbnail .like-buttons{
  color:gray;
  text-align: center;

}

.thumbnail img {
      border-color:white;
      height: 180px;
      width: 380px;
      overflow: hidden;
  }


.caption {
  text-align:center;
}
.caption h3{
    color:rgb(255,255,255);

}
.caption p{
  color:gray;
}


.title {
    color: green;
    text-align:center;
}